<div class="containter" style="margin-left:30px; margin-top:20px" >


   <table class = "table table-striped">
  <thead>
    <tr>
      <th>Matrícula:</th> 
      <th>Nombre</th>
    </tr>
  </thead>
<tbody>

    {% for Alumno in Alumnops %}
    <tr>
      <td> {{ Alumno.Matricula }} </td>
      <td> {{ Alumno.Nombre }} </td>
      </tr>

    {% empty %}
    <tr>
      <td colspan = "2"> --- </td>
    </tr>
  {% endfor %}
</tbody>
</table>    

<table border="1" class = "table table-striped">
  <thead>
    <tr>
      <th>Materia</th> 
      <th>Faltas</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>Final</th>
    </tr>
  </thead>
<tbody>
    {% for Alumno in NombreAlumno %}
    <tr>
      <td>{{ Alumno.Nombre }}</td>
      <td> {{ Alumno.Faltas }} </td>
      <td> {{ Alumno.Cal1 }} </td>
      <td> {{ Alumno.Cal2 }} </td>
      <td> {{ Alumno.Cal3 }} </td>
      <td> {{ Alumno.Califinal }} </td>

      
    </tr>
    {% empty %}
    <tr>
      <td colspan = "2"> No hay materias. </td>
    </tr>
  {% endfor %}
</tbody>
</table>    
</div>

