{% extends "Base.html" %}
{% block estilo %}


{% endblock estilo %}
{% block titulo %} Historial {% endblock titulo %}
{% block contenido %}
<meta charset="utf-8">


<div style = "margin:7%" align="center">
<div class="containter" style="height:100%;width:100%;" >

<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:80%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
</style>
        <h6 class = "normal">
          Historial Académico</h6>
                    
       <div class="button-set">
    <a href="/Principal/{{Matricula}}"><button> <img  style = "width:25px; height:20" src = "{{STATIC_URL}}images/Back.png"></button></a>
    </div>


<h6></h6>
<h6 align = "left" class = "normal" >Matricula : {{A.0.Matricula}}</h6>
<h6 align = "left" class = "normal">Nombre : {{A.0.Nombre}}</h6>
<h6 align = "left" class = "normal">Concentración : {{A.0.Concentracion}}</h6>

 
 <h6 class = "normal"> Primer Semestre </h6>

      <table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Historial %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

      {% if Historial|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Historial|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}

 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>


 <h6 class = "normal"> Segundo Semestre </h6>

 <table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Segundo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

      {% if Segundo|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Segundo|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>

 <h6 class = "normal"> Tercer Semestre </h6>


<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Tercero %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

     {% if Tercero|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Tercero|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>
      <h6 class ="normal"> Cuarto Semestre </h6>

<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Cuarto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

   {% if Cuarto|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Cuarto|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>
      <h6 class = "normal"> Quinto Semestre </h6>

<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Quinto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

{% if Quinto|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Quinto|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>
      <h6 class = "normal"> Sexto Semestre </h6>

<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Sexto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

{% if Sexto|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Sexto|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>
      <h6 class = "normal"> Septimo Semestre </h6>

<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Septimo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}

{% if Septimo|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Septimo|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>
      <h6 class = "normal"> Octavo Semestre </h6>

<table class = "normal" border="2">
      <col width="70%">
      <col width="20%">
  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Octavo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
{% if Octavo|get_calificacion_at:i == null %}
         <tr>
        <td> {{H.N}} </td>
        <td> </td>
      </tr>
      {% else %}
      <tr>
        <td> {{H.N}} </td>
        <td align="center"> {{ Octavo|get_calificacion_at:i }} </td>
      </tr>
      {% endif%}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>

 <br>
 <br>
 <br>
    <!--</ul>-->
 </div>
</div>
{% endblock contenido %}
