{% extends "Base.html" %}
{% block estilo %}


{% endblock estilo %}
{% block titulo %} Historial {% endblock titulo %}
{% block contenido %}
<meta charset="utf-8">


<div style = "margin:7%" align="center">
<div class="containter" style="height:100%;width:100%;" >

<style>
  h6.normal {line-height:150%; font-size: 180%}
  table.normal{width: 100%; font-size: 180%}
  p.big {line-height:150%; font-size: 180%; height: 100%}
  li.big {line-height:150%; font-size: 180%;}
</style>
        <h6 class = "normal">
          Historial Academico</h6>
                    
          <nav class="breadcrumbs mini">
            <ul>
              <li><a style ="width:100%;"href="/Principal/{{Matricula}}"><img  style = "width:50px; height:40" src = "{{STATIC_URL}}images/Back.png"></img></a></li>
            </ul>
          </nav>


<h6></h6>
<h6 align = "left" class = "normal" >Matricula : {{A.0.Matricula}}</h6>
<h6 align = "left" class = "normal">Nombre : {{A.0.Nombre}}</h6>
<h6 align = "left" class = "normal">Concentracion : {{A.0.Concentracion}}</h6>

 
 <h6 class = "normal"> Primer Semestre </h6>

      <table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Historial %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Historial|get_at_index:x != Historial|get_at_index:i %}
      <tr>
        <td> {{ Historial|get_nombre_at:x }} </td>
        <td> {{ Historial|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>


 <h6 class = "normal"> Segundo Semestre </h6>

<table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Segundo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Historial|get_at_index:x != Historial|get_at_index:i %}
      <tr>
        <td> {{ Historial|get_nombre_at:x }} </td>
        <td> {{ Historial|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
    </table>

 <h6 class = "normal"> Tercer Semestre </h6>


<table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Tercero %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Tercero|get_at_index:x != Tercero|get_at_index:i %}
      <tr>
        <td> {{ Tercero|get_nombre_at:x }} </td>
        <td> {{ Tercero|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
</table>
      <h6 class ="normal"> Cuarto Semestre </h6>

<table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Cuarto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Cuarto|get_at_index:x != Cuarto|get_at_index:i %}
      <tr>
        <td> {{ Cuarto|get_nombre_at:x }} </td>
        <td> {{ Cuarto|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
</table>
      <h6 class = "normal"> Quinto Semestre </h6>

<table  class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Quinto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Quinto|get_at_index:x != Quinto|get_at_index:i %}
      <tr>
        <td> {{ Quinto|get_nombre_at:x }} </td>
        <td> {{ Quinto|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
</table>
      <h6 class = "normal"> Sexto Semestre </h6>

<table  class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Sexto %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Sexto|get_at_index:x != Sexto|get_at_index:i %}
      <tr>
        <td> {{ Sexto|get_nombre_at:x }} </td>
        <td> {{ Sexto|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
</table>
      <h6 class = "normal"> Septimo Semestre </h6>

<table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Septimo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Septimo|get_at_index:x != Septimo|get_at_index:i %}
      <tr>
        <td> {{ Septimo|get_nombre_at:x }} </td>
        <td> {{ Septimo|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
</table>
      <h6 class = "normal"> Octavo Semestre </h6>

<table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Calificación Final</th>

    </tr>
  </thead>
    <tbody>

{% for H in Octavo %}
{% with forloop.counter|add:-1 as i %} 
{% with forloop.counter as x %}
{% load apptags %}
  {% if forloop.first %}
      <tr>
        <td> {{ H.Nombre}} </td>
        <td> {{ H.Calificacion_Final }} </td>
      </tr>
  {% else %}
      {% if Octavo|get_at_index:x != Octavo|get_at_index:i %}
      <tr>
        <td> {{ Octavo|get_nombre_at:x }} </td>
        <td> {{ Octavo|get_calificacion_at:x }} </td>
      </tr>
      {% endif %}
  {% endif %}
 {% endwith%}
 {% endwith%}
{% endfor %}
  
    </tbody>
 </table>
    </ul>
 </div>
</div>
{% endblock contenido %}
