{% extends "Base.html" %}
{% block estilo %}


{% endblock estilo %}
{% block titulo %} Historial {% endblock titulo %}
{% block contenido %}
<meta charset="utf-8">
<div style = "margin:7%" align="center">
<div class="containter" style="margin-left:30px; margin-top:20px" >

<style>
  h6.normal {line-height:150%; font-size: 180%}
  table.normal{width: 100%; font-size: 180%}
  p.big {line-height:150%; font-size: 180%; height: 100%}
  li.big {line-height:150%; font-size: 180%;}
</style>

    <h6 class = "normal">
          Horario </h6>
    
         <div class="button-set">
    <a href="/Principal/{{Matricula}}"><button> <img  style = "width:50px; height:40" src = "{{STATIC_URL}}images/Back.png"></button></a>
    </div>

      <table class = "normal" border="2">

  <thead>
    <tr>      

      <th>Nombre materia</th>
      <th>Salon</th>
      <th>Horario</th>

    </tr>
  </thead>
    <tbody>

{% for H in horario %}

      <tr>
        <td>{{ H.Nombre }} </td>
        <td>{{ H.Salon }} </td>
        <td>{{ H.Horario }}</td>
      </tr>
    
{% endfor %}
  
    </tbody>
    </table>


    </ul>
 </div>
 </div>
{% endblock contenido %}
