{% extends "Base.html" %}
{% block estilo %}


{% endblock estilo %}
{% block titulo %} Historial {% endblock titulo %}
{% block contenido %}
<meta charset="utf-8">
<div class="containter" style="margin-left:30px; margin-top:20px" >

    <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Horario </h6>
    
    <nav class="breadcrumbs mini">
            <ul>
              <li><a href="/Principal/{{Matricula}}"><img  style = "width:50px; height:40" src = "{{STATIC_URL}}images/Back.png"></img></a></li>
            </ul>
          </nav>

      <table style = "width:15%; font-size:1em;" border="2">

  <thead>
    <tr>      

      <th style = "font-size:70%;">Nombre materia</th>
      <th style = "font-size:70%;">Salon</th>
      <th style = "font-size:70%;">Horario</th>

    </tr>
  </thead>
    <tbody>

{% for H in horario %}

      <tr>
        <td style = "font-size:60%;">{{ H.Nombre }} </td>
        <td style = "font-size:60%;">{{ H.Salon }} </td>
        <td style = "font-size:70%;">{{ H.Horario }}</td>
      </tr>
    
{% endfor %}
  
    </tbody>
    </table>


    </ul>
 </div>
{% endblock contenido %}
