{% extends "Base.html" %}

{% block titulo %} Cetys Universidad  {% endblock titulo %}

{% block contenido %}
<div style = "margin-left:10px;margin-top:10px">
<button class="shortcut info">
    <img src = "{{STATIC_URL}}images/Titulacion.png"></img>
</button>
<button class="shortcut info">
    <a href="/Boleta/{{Matricula}}"> <img  src = "{{STATIC_URL}}images/Boleta.png"></img> <a>
</button>
<br>
<div style ="margin-top:10px">
<button class="shortcut info">
    <img src = "{{STATIC_URL}}images/Historial.png"></img>
</button>
<button class="shortcut info">
    <img src = "{{STATIC_URL}}images/Servicio-Social.png"></img>
</button>
</div>
<div style="margin-top:10px">
<button class="shortcut info">
    <a href="/Practicas/{{Matricula}}"> <img  src = "{{STATIC_URL}}images/Practicas.png"></img> <a>
</button>
<button class="shortcut info">
    <img src = "{{STATIC_URL}}images/Horario.png"></img>
</button>
</div>
</div>
{% endblock contenido %}
</div style ="margin-top:10px;margin-left:10px;">

</div>