{% extends "Base.html" %}

{% block titulo %} Boleta {% endblock titulo %}
{% block contenido %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

<style>
p.small {line-height:10%;}
p.big {line-height:150%; font-size: 180%;}
li.big {line-height:150%; font-size: 180%;}

</style>

<h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Prácticas Profesionales </h6>


    <nav class="breadcrumbs mini">
          <ul>
           <li><a href="/Principal/{{Matricula}}"><img  style = "width:50px; height:40" src = "{{STATIC_URL}}images/Back.png"></img></a></li>
           </ul>
      </nav>

</head>

<body>
       
        
        <h6   style = "font-size:180%;">Consideraciones generales</h6>
        
        <p class="big">Las Prácticas Profesionales son un requisito institucional para la titulación que contribuirá a tu formación profesional, proporcionándote un primer contacto con la vida laboral en un ambiente real. Al poner tus habilidades al servicio de una empresa real, tendrás la oportunidad de ponerlas a prueba, mejorarlas y aprender más.</p>

        <p class="big">Consisten en 400 horas de trabajo de medio tiempo en alguna empresa de la localidad, realizando alguna actividad relacionada con tu carrera.</p>
        <br>
        <h6   style = "font-size:180%;">Requisitos</h6>

        <p class="big">Para llevar tus prácticas profesionales, es necesario:</p>
        
        <ol>
        <ul>
        <li   style = "line-height:150%; font-size: 180%;">Que estés cursando el quinto semestre o uno superior</li> 
        <li   style = "line-height:150%; font-size: 180%;">Que las prácticas se cursen en un periodo mínimo de dos meses. No hay un límite máximo establecido; éste queda a discreción del practicante y de la empresa.</li> 
        <li   style = "line-height:150%; font-size: 180%;">Presentar la documentación conforme a</li> 
        </ul>
        </ol>



        <p class="big">La documentación necesaria para deberás entregar:</p>
        <ol>
        <ul>
        <li   style = "font-size:180%;">Solicitud de prácticas profesionales. <a href="http://www.mxl.cetys.mx/practicasprof/FORMATO_SOLICITUD_PP.doc">Descargar el formato.</a></li> 
        <p class="big">Aquí especificarás el lugar, periodo y actividad a desempeñar.</p>
        </ul>
        </ol>
        <ol>
        <ul>
        <li   style = "font-size:180%;">Reportes mensuales. <a href="http://www.mxl.cetys.mx/practicasprof/FORMATO_REPORTE_PP.doc">Descargar el formato.</a></li> 
        <p class="big">Una vez que efectúes las prácticas entregarás mensualmente un reporte de 100 horas, donde detallarás las actividades realizadas durante el mes.</p>
           
        </ul>
        </ol>
        <ol>
        <ul>
        <li   style = "font-size:180%;">Constancia de liberación de prácticas.</li> 
        <p class="big">Solicitar a la empresa una carta donde se especifique el puesto que desempeñaste, el periodo, el total de horas y tu nombre completo; esta deberá ser una hoja membretada, con firma de tu jefe y sello de la empresa.</p>
        </ul>
        </ol>
        <p class="big">La solicitud y reportes mensuales deberás llenarlos a máquina o computadora con los datos requeridos y presentarlos en la empresa donde efectuarás tus prácticas para que sean firmados y sellados. Estos reportes los presentarás para revisión y autorización con el maestro asesor de tu carrera. Una vez firmados y autorizados los entregarás a la Dir. de Servicios Escolares para archivo en tu expediente de titulación.</p>
        <p class="big">Nota: Es necesario tener cubierto el 50% de la licenciatura antes de iniciar las prácticas profesionales.</p>
        <p class="big">Para mayores informes acude con tu coordinador de carrera o a la Dir. de Servicios Escolares</p>



        <address   style = "font-size:150%;">
        Campus Mexicali<br />
        <a   style = "font-size:180%;" href="mailto:escolar@cetys.mx">escolar@cetys.mx</a><br>
        </address>

        <address   style = "font-size:150%;">
        Campus Ensenada<br />
        <a   style = "font-size:180%;" href="mailto:escolarens@cetys.mx">escolarens@cetys.mx</a><br>
        </address>

        <address   style = "font-size:150%;">
        Campus Tijuana<br />
        Lic. Elizdath Peña Vela<br>
        <a    style = "font-size:150%;"href="mailto:elizdath.pena@cetys.mx">elizdath.pena@cetys.mx</a></br>
        </address>



    </body>
</html>
{% endblock contenido %}