{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block requisitos%}active{%endblock requisitos%}

{% block contenidoServicio %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Requisitos </h6>
          
     <p style = "font-size: 70%"><strong>ARTÍCULO 6.</strong>- El estudiante de CETYS Universidad, para acreditar el servicio social, debe cumplir con:</p>

     <ul>
    <li style = "font-size: 70%;">Un mínimo de 500 horas durante un período no menor de seis meses ni mayor de dos años.</li>
    <li style = "font-size: 70%;">De preferencia en actividades que estén directamente relacionadas con los objetivos académicos y formativos de la carrera que cursa .</li>
    <li style = "font-size: 70%;">El servicio social podrá ser iniciado una vez que se haya cubierto el 70% del total de los créditos de la carrera mediante la docencia, la investigación, la práctica de campo o la práctica profesional.</li>
    <li style = "font-size: 70%;">El estudiante podrá prestar y cumplir su servicio social realizando las siguientes actividades dentro de dependencias gubernamentales, institutos de beneficencia pública e instituciones privadas que no persigan fines de lucro:</li>


    <ol>
    <li style = "font-size: 70%;"> En la elaboración de proyectos (para beneficio de la comunidad tanto urbana como rural) de estudio relativos a la planificación para el desarrollo social, económico, cívico y comunitario de la región o del país; de estudios o censos de recursos naturales, de mercados, de productividad, de salarios, de condiciones sociales, económicas, etc.</li>
    <li style = "font-size: 70%;">En el diseño y fabricación de equipos para beneficio de comunidades rurales, indígenas y grupos sociales aislados.</li>
    <li style = "font-size: 70%;">Como organizador y promotor de eventos socioculturales a favor de la población menos favorecida.</li>
    <li style = "font-size: 70%;">En brigadas multidisciplinarias de trabajo social en las zonas urbanas y rurales más necesitadas.</li>
    <li style = "font-size: 70%;">En cualquier actividad que sea aprobada por el Coordinación de Servicio Social y que sea congruente con el genuino espíritu del Servicio Social.</li>

	</ol>
	</ul>



          

 </div>
{% endblock contenidoServicio %}
