{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block contacto%}active{%endblock contacto%}

{% block contenidoServicio %}
<div  style="margin:7%">
<div class="containter">
<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:100%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
</style>
           <h6 class = "normal">
          Contacto </h6>
          
          <h6 class = "normal">Mtra. Cecilia Contreras</h6>
          <h6 class = "normal">Coordinación de Servicio Social</h6>
          <h6 class = "normal">cecilia.contreras@cetys.mx</h6>

          

 </div>
 </div>
{% endblock contenidoServicio %}