{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block pasos%}active{%endblock pasos%}

{% block contenidoServicio %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Pasos </h6>
          
     <ol>
          <li style = "font-size: 70%;">Selecciona el programa o proyecto de Servicio Social de tu interés, contactar a los responsables de los mismos para que solicites información detallada de las actividades a realizar.</li>
          <li style = "font-size: 70%;">Acude a una entrevista con el responsable del programa o proyecto que seleccionaste.</li>
          <li style = "font-size: 70%;">Una vez que inicies tu Servicio Social, llenar el formato de <a href = "http://cetys.mx/userfiles/serviciosocial/FORMATO_SOLICITUD_SS.zip">Solitud de alta de Servicio social.</a></li>
          <li style = "font-size: 70%;">Una vez que elaboraste la solicitud llévalo a la coordinación de Servicio Social de tu campus para que lo autorice y con el departamento de Servicios Escolares de tu campus para darlo de alta, en el caso de campus Tijuana deberá entregarse a las coordinación se Servicio Social.</li>
          <li style = "font-size: 70%;">Cada dos meses tienes que llenar la hoja de <a href = "http://cetys.mx/userfiles/serviciosocial/FORMATO_REPORTE_SS.zip">Reporte Bimestral de Servicio Social</a> y entregarlo al departamento de Servicios Escolares, para campus Tijuana dirigirse a la coordinación de Servicio Social.</li>
          <li style = "font-size: 70%;">Una vez que concluyas tu Servicio Social deberás solicitar tu <a href = "">Carta de liberación</a> a la persona encargada del programa la cual debera venir en hoja membretada con el sello y firma; y llevar a la coordinación de Servicio Social.</li>
     </ol>
          

 </div>
{% endblock contenidoServicio %}   