{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block programas%}active{%endblock programas%}

{% block contenidoServicio %}
<div  style="margin:7%">
<div class="containter">

<style>
  h6.normal {line-height:150%; font-size: 180%}
  table.normal{width: 100%; font-size: 180%}
  p.big {line-height:150%; font-size: 180%; height: 100%}
  li.big {line-height:150%; font-size: 180%;}
</style>
           <h6 class = "normal">
          Programas </h6>
          <p class = "big">CETYS Universidad  realiza una labor constante de reclutamiento de programas de servicio social con diferentes instituciones. Esta es la  relación de programas que se están actualizando constantemente:</p>


<table style = "width:100%; font-size:180%;" border="2" class = "striped">
  <thead>
    <tr>      

      <th>Nombre</th>
      <th>Unidad receptora</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Responsable</th>

    </tr>
  </thead>
    <tbody>
<tr>
    <td>IFE Estatal</td>
    <td> </td>
    <td> </td>
    <td>(686) 557-1463</td>
    <td>Lic. Edgar Gerardo Rivera Saucedo</td>
</tr>
<tr>
    <td>Activo Fijo</td>
    <td>CAHOVA</td>
    <td>Calz. Terán S/N Fracc. Villa Esperanza 2000</td>
    <td>(686) 561-8800</td>
    <td>Lic. Elena de Alba de Martin</td>
</tr>
<tr>
    <td>RECICALI</td>
    <td>CETYS Universidad</td>
    <td>Astuntos Estudiantiles</td>
    <td>(686) 567-3713</td>
    <td>Lic. Alma Gurrola</td>
</tr>   
<tr>
    <td>Prevención, movilización social y tratamiento de adicciones</td>
    <td>Centros de Integración Juvenil</td>
    <td>Francisco Serrano s/nCol. Jose Ortiz de Dominguez</td>
    <td>(686) 565-9848</td>
    <td>Lic. López Báez</td>
</tr>
<tr>
    <td>Conductor Designado</td>
    <td> </td>
    <td>Carretera a San Luis No. 950 Zona Industrial Mexicali, B. C</td>
    <td>(686) 561-6817</td>
    <td>Lic. Jorge Ibarra</td>
</tr>
<tr>
    <td>Gente por los animales</td>
    <td>Gente por los animales</td>
    <td>http://www.genteporlosanimales.org/</td>
    <td>(686) 567-0111</td>
    <td>Lic. Patricia Torres Galaz</td>
</tr>
<tr>
    <td>Proyecto TMONA</td>
    <td> </td>
    <td> </td>
    <td>(686) 582-3821</td>
    <td>Dr. Ricardo De León</td>
</tr>
<tr>
    <td>Albergue temporal del DIF</td>
    <td>DIF Municipal</td>
    <td> </td>
    <td>(686) 270- 2717</td>
    <td>Lic. Olga Chávez</td>
</tr>

    </tbody>
    </table>

          

 </div></div>
{% endblock contenidoServicio %}