{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoServicio %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

    
          
   <p style = "font-size: 70%;">El servicio social es un medio por el cual el alumno ofrece a la población parte de su formación profesional; es una forma de agradecer a la sociedad el beneficio que de ella ha recibido.</p>
   <p style = "font-size: 70%;">El estudiante de nivel profesional significa un pequeño porcentaje de la población que ha tenido la oportunidad de mantenerse en un programa de estudios de este nivel, de tal manera que deben sentirse privilegiados.</p>
   <p style = "font-size: 70%;">En 1945, la Federación legitimizó este servicio como un requisito para obtener título profesional, de acuerdo a la disposición de la Ley Reglamentaria del Art. 5to. Constitucional Relativo al ejercicio de las Profesiones en el Distrito Federal, otorgando a las instituciones educativas la facultad de crear su propio reglamento interno sin contravenir al reglamento antes mencionado.</p>
   <p style = "font-size: 70%;">CETYS Universidad cuenta con su propio Reglamento interno, el cual trata sobre el servicio social y sus requisitos en su Art. 6to.</p>


 </div>
{% endblock contenidoServicio %}