{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block programas%}active{%endblock programas%}

{% block contenidoServicio %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Programas </h6>
          <p style = "font-size: 80%;">CETYS Universidad  realiza una labor constante de reclutamiento de programas de servicio social con diferentes instituciones. Esta es la  relación de programas que se están actualizando constantemente:</p>


<table style = "width:25%; font-size:1em;" border="2" class = "striped">
  <thead>
    <tr>      

      <th style = "font-size:70%;">Nombre</th>
      <th style = "font-size:70%;">Unidad receptora</th>
      <th style = "font-size:70%;">Direccion</th>
      <th style = "font-size:70%;">Telefono</th>
      <th style = "font-size:70%;">Responsable</th>

    </tr>
  </thead>
    <tbody>
<tr>
    <td style = "font-size:70%;">IFE Estatal</td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;">(686) 557-1463</td>
    <td style = "font-size:70%;">Lic. Edgar Gerardo Rivera Saucedo</td>
</tr>
<tr>
    <td style = "font-size:70%;">Activo Fijo</td>
    <td style = "font-size:70%;">CAHOVA</td>
    <td style = "font-size:70%;">Calz. Terán S/N Fracc. Villa Esperanza 2000</td>
    <td style = "font-size:70%;">(686) 561-8800</td>
    <td style = "font-size:70%;">Lic. Elena de Alba de Martin</td>
</tr>
<tr>
    <td style = "font-size:70%;">RECICALI</td>
    <td style = "font-size:70%;">CETYS Universidad</td>
    <td style = "font-size:70%;">Astuntos Estudiantiles</td>
    <td style = "font-size:70%;">(686) 567-3713</td>
    <td style = "font-size:70%;">Lic. Alma Gurrola</td>
</tr>   
<tr>
    <td style = "font-size:70%;">Prevención, movilización social y tratamiento de adicciones</td>
    <td style = "font-size:70%;">Centros de Integración Juvenil</td>
    <td style = "font-size:70%;">Francisco Serrano s/nCol. Jose Ortiz de Dominguez</td>
    <td style = "font-size:70%;">(686) 565-9848</td>
    <td style = "font-size:70%;">Lic. López Báez</td>
</tr>
<tr>
    <td style = "font-size:70%;">Conductor Designado</td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;">Carretera a San Luis No. 950 Zona Industrial Mexicali, B. C</td>
    <td style = "font-size:70%;">(686) 561-6817</td>
    <td style = "font-size:70%;">Lic. Jorge Ibarra</td>
</tr>
<tr>
    <td style = "font-size:70%;">Gente por los animales</td>
    <td style = "font-size:70%;">Gente por los animales</td>
    <td style = "font-size:70%;">http://www.genteporlosanimales.org/</td>
    <td style = "font-size:70%;">(686) 567-0111</td>
    <td style = "font-size:70%;">Lic. Patricia Torres Galaz</td>
</tr>
<tr>
    <td style = "font-size:70%;">Proyecto TMONA</td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;">(686) 582-3821</td>
    <td style = "font-size:70%;">Dr. Ricardo De León</td>
</tr>
<tr>
    <td style = "font-size:70%;">Albergue temporal del DIF</td>
    <td style = "font-size:70%;">DIF Municipal</td>
    <td style = "font-size:70%;"> </td>
    <td style = "font-size:70%;">(686) 270- 2717</td>
    <td style = "font-size:70%;">Lic. Olga Chávez</td>
</tr>

    </tbody>
    </table>

          

 </div>
{% endblock contenidoServicio %}