{% extends "Servicio_Social.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block pasos%}active{%endblock pasos%}

{% block contenidoServicio %}
<div  style="margin:7%">
<div class="containter">

<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:110%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
</style>
           <h6 class = "normal">
          Pasos </h6>
          
     <ol>
          <li><p class = "big">Selecciona el programa o proyecto de Servicio Social de tu interés, contactar a los responsables de los mismos para que solicites información detallada de las actividades a realizar.</p></li>
          <li><p class = "big">Acude a una entrevista con el responsable del programa o proyecto que seleccionaste.</p></li>
          <li><p class = "big">Una vez que inicies tu Servicio Social, llenar el formato de <a href = "http://cetys.mx/userfiles/serviciosocial/FORMATO_SOLICITUD_SS.zip">Solitud de alta de Servicio social.</a></p></li>
          <li><p class = "big">Una vez que elaboraste la solicitud llévalo a la coordinación de Servicio Social de tu campus para que lo autorice y con el departamento de Servicios Escolares de tu campus para darlo de alta, en el caso de campus Tijuana deberá entregarse a las coordinación se Servicio Social.</p></li>
          <li><p class = "big">Cada dos meses tienes que llenar la hoja de <a href = "http://cetys.mx/userfiles/serviciosocial/FORMATO_REPORTE_SS.zip">Reporte Bimestral de Servicio Social</a> y entregarlo al departamento de Servicios Escolares, para campus Tijuana dirigirse a la coordinación de Servicio Social.</p></li>
          <li><p class = "big">Una vez que concluyas tu Servicio Social deberás solicitar tu <a href = "">Carta de liberación</a> a la persona encargada del programa la cual debera venir en hoja membretada con el sello y firma; y llevar a la coordinación de Servicio Social.</p></li>
     </ol>
          

 </div></div>
{% endblock contenidoServicio %}   