{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}

<div style = "margin:7%">
<div class="containter">

<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:100%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
  ul.big {line-height: 80%; font-size: 80%}
</style>

           <h6 class = "normal">
          Requisitos </h6>
          
          <p class = "big">El Departamento de Servicios Escolares de CETYS Universidad informa sobre los requisitos a cumplir para poder realizar el trámite de su Certificado de Terminación de Estudios, Legalización de Título y Expedición de Cédula Profesional, a:</p>

          <ul>
    			<li><p class = "big">Alumnos próximos a egresar, o quienes están en proceso de tramitar su titulación, siempre que sean del plan de estudios vigente.  Para alumnos de planes anteriores acudir a Servicios Escolares de su Campus.</p> </li>
    	  </ul>

    	  <p class = "big"><strong>Requisitos académicos:</strong></p></p>

    	  <ul>
    	  		<li><p class = "big">Acreditar todas las materias del plan de estudios.</p></li>
    	  		<li><p class = "big">Acreditar 400 horas de prácticas profesionales.</p></li>
    	  		<li><p class = "big">Acreditar 500 horas de servicio social.</p></li>
    	  		<li><p class = "big">Presentar el examen EGEL del CENEVAL.</p></li>

    	  </ul>

    	    <p class = "big"><strong>Requisitos Administrativos:</strong></p></p>

    	    <ul>
    	    	<li><p class = "big">Entrega de fotografías:</p></li>
    	    

    	    <p class = "big">De frente en blanco y negro en papel mate. </p>
    	    <p class = "big">Hombres: saco y corbata.  </p>
    	    <p class = "big">Mujeres: blusa formal y saco tipo sastre </p>
    	    <p class = "big">En ambos casos sin lentes, apariencia seria.</p>


    	    <ul>
    	    	<li><p class = "big">6 fotos tamaño credencial (cuadradas).</p></li>
    	    	<li><p class = "big">6 fotos tamaño infantil (cuadradas).</p></li>
    	    	<li><p class = "big">6 fotos tamaño título ovaladas.</p></li>
    	    </ul>

    	   
    	    	<li><p class = "big">Pago de Cuota de titulación</p></li>

    	    	<ul>
    	    		<li><p class = "big">Solicitar en el Departamento de Escolar la forma de pago</p></li>
    	    		<li><p class = "big">Realizar el pago según cuota correspondiente</p></li>
    	    		<li><p class = "big">Recibir el sello de pago en Caja como prueba de pago</p></li>
    	    	</ul>

    	    	<li><p class = "big">Solicitud de expedición de cédula</p></li>

    	    	<ul>
    	    		<li><p class = "big">Llenar y firmar solicitud para trámite de expedición de cédula,
La cual puedes encontrar <a href = "http://www.sep.gob.mx/work/models/sep1/Resource/124225/1/s_TecTSULicMEM.pdf">aqui</a>
O bien puedes acudir a Servicios Escolares a realizar el llenado de la solicitud.</p></li>
					<p  class = "big"><strong>Instrucciones del llenado de la solicitud:</strong></p>
                    
                    <ul>
    					<li><p class = "big">Llenar únicamente  el recuadro de datos personales.</p></li>
    					<li><p class = "big">Imprimir ambos lados de la solicitud en una sola hoja (se requieren dos solicitudes).</p></li>
    					<li><p class = "big">Firmar dentro del recuadro y al reverso de la solicitud, donde dice firma del interesado con pluma  tinta negra.</p></li>
                    </ul>
    	    	</ul>

    	    	<li><p class = "big">Periodo de entrega de requisitos:</p></li>

    	    	<ul>
    	    		<li><p class = "big">Llamar al Departamento de Escolar a mas tardar dos meses antes de la fecha de Ceremonia de Titulación para preguntar la fecha límite de entrega de requisitos</p></li>
    	    		<li><p class = "big">O, revisar el calendario escolar de cada Campus para ver la fecha límite de entrega de requisitos</p></li>

    	    	</ul>
    	    </ul>


 </div>
 </div>
{% endblock contenidoTitulacion %}