{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Contacto </h6>
        <address style = "font-size:70%;">
	    Dept. de Escolar<br />
	    escolar@cetys.mx<br>
    	Teléfonos: (686) 567 3700 Ext. 3747</br>
		</address>

		<address style = "font-size:70%;">
	    Recepción de documentos y tramitación del titulo:<br />
	    Lic. Norma Alicia Meza Medina<br>
    	Servicios Escolares<br>
    	norma.meza@cetys.mx<br>
		</address>

		<address style = "font-size:70%;">
	    Examen CENEVAL/EGEL<br />
	    Mtro. Alfredo Rodríguez Carrasco<br>
    	alfredo.rodriguez@cetys.mx<br>
		</address>
 </div>
{% endblock contenidoTitulacion %}