{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}

<div style = "margin:7%">
<div class="containter"  >
          

<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:100%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
  ul.big {line-height: 80%; font-size: 80%}
</style>
          <p class = "big">En los planes de estudio de las licenciaturas del CETYS diseñados a partir del 2004 se establece la titulación automática  de los alumnos, al acreditar todas las asignaturas que forman su plan de estudios.</p>
          <p class = "big">Esto es posible debido a que todos los requisitos y procedimientos de titulación están integrados en asignaturas obligatorias para cada carrera profesional.</p>
          <p class = "big">Conoce los requisitos y actividades previas a tu titulación. Para cualquier duda favor de comunicarse al Departamento de Servicios Escolares de tu campus.</p>



 </div></div>
{% endblock contenidoTitulacion %}