{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}

<div style = "margin:7%">
<div class="containter" style="margin-left:30px; margin-top:20px" >

<style>
  h6.normal {line-height:150%; font-size: 180%}
  table.normal{width: 100%; font-size: 180%}
  p.big {line-height:150%; font-size: 180%; height: 100%}
  li.big {line-height:150%; font-size: 180%;}
</style>
           <h6 class = "normal">
          Contacto </h6>
        <address style = "font-size:180%;">
	    Dept. de Escolar<br />
	    escolar@cetys.mx<br>
    	Teléfonos: (686) 567 3700 Ext. 3747</br>
		</address>

		<address style = "font-size:180%;">
	    Recepción de documentos y tramitación del titulo:<br />
	    Lic. Norma Alicia Meza Medina<br>
    	Servicios Escolares<br>
    	norma.meza@cetys.mx<br>
		</address>

		<address style = "font-size:180%;">
	    Examen CENEVAL/EGEL<br />
	    Mtro. Alfredo Rodríguez Carrasco<br>
    	alfredo.rodriguez@cetys.mx<br>
		</address>
 </div></div>
{% endblock contenidoTitulacion %}