{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}

<div style = "margin:7%">
<div class="containter">



<style>
  h6.normal {line-height:80%; font-size: 80%}
  table.normal{width: 110%; font-size: 80%}
  p.big {line-height:100%; font-size: 80%; height: 100%}
  li.big {line-height:80%; font-size: 80%;}
  ul.big {line-height: 80%; font-size: 80%}
</style>
           <h6 class = "normal">
          Actividades </h6>

          <p class = "big">El Departamento de Servicios Escolares de Cetys Universidad informa a todos los alumnos que han cumplido con los requisitos de Graduación, que antes de la Ceremonia de Graduación deben tener presente las siguientes actividades y consultar las fechas.</p>
          <p  class = "big"><strong>1. Toma de medidas para la Toga</strong></p>
          <p class = "big">Es requisito indispensable portar Toga y Birrete Oficial en la Ceremonia de Graduación. Pregunta en el Departamento de Servicios Escolares la fecha en que se tomarán las medidas.  Usualmente esto sucede dos meses antes de la Ceremonia de Graduación.</p>
          <p class = "big"><strong>2. Toma de fotografía de Generación</strong></p>
          <p class = "big">Consulta el calendario escolar que se encuentra en la página del Campus para que con tiempo te prepares para el día de la toma de fotografía con tus compañeros de generación próximos a titularse.</p>
          <p class = "big">La participación no es obligatoria, pero de aceptar la invitación, la formalidad en el vestir es indispensable.  Los hombres deben vestir de traje con corbata y zapatos.  Las mujeres deben usar vestido tipo coctail o traje tipo sastre.  Pueden invitar a uno o dos maestros como padrinos de su generación.</p>
          <p class = "big"><strong>3. Programa del evento de Graduación y llenado de encuesta de egresados</strong></p>
          <p class = "big">Una semana antes de la Ceremonia de Graduación, acude al Departamento de Servicios Escolares para recoger el programa del evento y llenar la encuesta de egresados. </p>
          <p class = "big"><strong>4. Recoger la Toga</strong></p>
          <p class = "big">Las togas son entregadas directamente por el proveedor elegido, dos días previos a la Ceremonia de Graduación.  Para consultar la fecha, lugar y hora exactos de entrega, acude o llama al Departamento de Servicios Escolares.</p>
          <p class = "big">El servicio de renta de toga y birrete tiene un costo y depósito que se regresará una vez devuelta la toga y birrete.</p>
          <p class = "big"><strong>5. Ensayo general de la Ceremonia de Graduación</strong></p>
          <p class = "big">Consulta la fecha, lugar y hora exactos del ensayo general, acude o llama al Departamento de Servicios Escolares.  El ensayo siempre tiene lugar un día antes del evento.</p>
          <p class = "big">Tu asistencia al ensayo es <strong>obligatoria.</strong></p>
          <p class = "big"><strong>6. Confirmar fecha de Ceremonia de Graduación</strong></p>
          <p class = "big">Consulta el calendario escolar que se encuentra en la página del Campus para que con tiempo te prepares y agendes junto con tu familia, la fecha y hora de la Ceremonia de Graduación.
</p>
<p class = "big">También puedes acudir o llamar al Departamento de Servicios Escolares.</p>

 </div>
 </div>
{% endblock contenidoTitulacion %}