{% extends "Base.html" %}
{% block estilo %}


{% endblock estilo %}
{% block titulo %} Historial {% endblock titulo %}
{%block ClientesActivo%}active{%endblock ClientesActivo%}
{% block contenido %}
<meta charset="utf-8">

<div style = "margin:7%">
<div class="containter">

<style>
  h6.normal {line-height:80%; font-size: 80%}
  </style>
           <h6 class = "normal">
          Titulación </h6>

<!--
          <nav class="breadcrumbs mini">
          <ul>
           <li><a style ="width:100%;" href="/Principal/{{Matricula}}"><img style = "width:50px; height:40" src = "{{STATIC_URL}}images/Back.png"></img></a></li>
        <li class = "{%block inicio %}{% endblock inicio %}"><a style ="width:50px; height:50px"href="/Titulacion/{{Matricula}}">Inicio</a></li>
        <li class = "{%block requisitos %}{% endblock requisitos %}"><a style ="width:100%;" href="/TRequisitos/{{Matricula}}">Requisitos</a></li>
        <li class = "{%block actividades %}{% endblock actividades %}"><a style ="width:100%;" href="/TActividades/{{Matricula}}">Pasos</a></li>
        <li class = "{%block contacto %}{% endblock contacto %}"><a style ="width:100%;" href="/TContacto/{{Matricula}}">Contacto</a></li>
        </ul>
          </nav>-->

<div class="button-set">
    <a href="/Principal/{{Matricula}}"><button> <img  style = "width:20px; height:25" src = "{{STATIC_URL}}images/Back.png"></button></a>
    <a href="/Titulacion/{{Matricula}}"><button style = "width:16%; height:60;font-size: 55%">Inicio</button></a>
    <a href="/TRequisitos/{{Matricula}}"><button style = "width:24%; height:30;font-size: 55%">Requisitos</button></a>
    <a href="/TActividades/{{Matricula}}"><button style = "width:16%; height:30;font-size: 55%">Pasos</button></a>
    <a href="/TContacto/{{Matricula}}"><button style = "width:22%; height:30;font-size: 55%">Contacto</button></a>
</div>

    </ul>
 </div></div>
 {% block contenidoTitulacion %}
{% endblock contenidoTitulacion %}
{% endblock contenido %}
