{% extends "Titulacion.html" %}

{% block titulo %} Historial {% endblock titulo %}
{%block inicio%}active{%endblock inicio%}

{% block contenidoTitulacion %}
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;o
                    font-weight: normal;
                    font-size: 100%;
                    text-align: left;
                    ">
          Requisitos </h6>
          
          <p style = "font-size:70%;">El Departamento de Servicios Escolares de CETYS Universidad informa sobre los requisitos a cumplir para poder realizar el trámite de su Certificado de Terminación de Estudios, Legalización de Título y Expedición de Cédula Profesional, a:</p>

          <ul>
    			<li style = "font-size: 70%;">alumnos próximos a egresar, o quienes están en proceso de tramitar su titulación, siempre que sean del plan de estudios vigente.  Para alumnos de planes anteriores acudir a Servicios Escolares de su Campus. </li>
    	  </ul>

    	  <p style = "font-size:70%;"><strong>Requisitos académicos:</strong></p></p>

    	  <ul>
    	  		<li style = "font-size:70%;">Acreditar todas las materias del plan de estudios.</li>
    	  		<li style = "font-size:70%;">Acreditar 400 horas de prácticas profesionales.</li>
    	  		<li style = "font-size:70%;">Acreditar 500 horas de servicio social.</li>
    	  		<li style = "font-size:70%;">Presentar el examen EGEL del CENEVAL.</li>

    	  </ul>

    	    <p style = "font-size:70%;"><strong>Requisitos Administrativos:</strong></p></p>

    	    <ul>
    	    	<li style = "font-size:70%;">Entrega de fotografías:</li>
    	    

    	    <p  style = "font-size:70%;">De frente en blanco y negro en papel mate. </p>
    	    <p  style = "font-size:70%;">Hombres: saco y corbata.  </p>
    	    <p  style = "font-size:70%;">Mujeres: blusa formal y saco tipo sastre </p>
    	    <p  style = "font-size:70%;">En ambos casos sin lentes, apariencia seria.</p>


    	    <ul>
    	    	<li style = "font-size:70%;">6 fotos tamaño credencial (cuadradas).</li>
    	    	<li style = "font-size:70%;">6 fotos tamaño infantil (cuadradas).</li>
    	    	<li style = "font-size:70%;">6 fotos tamaño título ovaladas.</li>
    	    </ul>

    	   
    	    	<li style = "font-size:70%;">Pago de Cuota de titulación</li>

    	    	<ul>
    	    		<li style = "font-size:70%;">Solicitar en el Departamento de Escolar la forma de pago</li>
    	    		<li style = "font-size:70%;">Realizar el pago según cuota correspondiente</li>
    	    		<li style = "font-size:70%;">Recibir el sello de pago en Caja como prueba de pago</li>
    	    	</ul>

    	    	<li style = "font-size:70%;">Solicitud de expedición de cédula</li>

    	    	<ul>
    	    		<li style = "font-size:70%;">Llenar y firmar solicitud para trámite de expedición de cédula,
La cual puedes encontrar <a href = "http://www.sep.gob.mx/work/models/sep1/Resource/124225/1/s_TecTSULicMEM.pdf">aqui</a>
O bien puedes acudir a Servicios Escolares a realizar el llenado de la solicitud.</li>
					<p style = "font-size:70%;"><strong>Instrucciones del llenado de la solicitud:</strong></p>
                    
                    <ul>
    					<li style = "font-size:70%;">Llenar únicamente  el recuadro de datos personales.</li>
    					<li style = "font-size:70%;">Imprimir ambos lados de la solicitud en una sola hoja (se requieren dos solicitudes).</li>
    					<li style = "font-size:70%;">Firmar dentro del recuadro y al reverso de la solicitud, donde dice firma del interesado con pluma  tinta negra.</li>
                    </ul>
    	    	</ul>

    	    	<li style = "font-size:70%;">Periodo de entrega de requisitos:</li>

    	    	<ul>
    	    		<li style = "font-size:70%;">Llamar al Departamento de Escolar a mas tardar dos meses antes de la fecha de Ceremonia de Titulación para preguntar la fecha límite de entrega de requisitos</li>
    	    		<li style = "font-size:70%;">O, revisar el calendario escolar de cada Campus para ver la fecha límite de entrega de requisitos</li>

    	    	</ul>
    	    </ul>


 </div>
{% endblock contenidoTitulacion %}